.main {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
}

@media (max-width: 767px) {
  .main {
    margin: 50px 0;
  }
}

.container {
  width: 800px;
  max-width: 100%;
  color: var(--white-color);
}
